*.swp

# ignore archives
src/*.7z
src/*.gz
src/*.msi
src/*.nsh
src/*.xz

src/expat-*.tar.bz2
src/gmp-*.tar.bz2
src/mpfr-*.tar.bz2

# ignore common files
src/*/compile
src/*/configure
src/*/depcomp
src/*/install-sh
src/*/missing
src/*/mkdep
src/*/mkinstalldirs
src/*/move-if-change
src/*/symlink-tree
src/*/ylwrap


src/binutils/
src/build-manual/
src/expat-*/
src/gcc/
src/gdb/
src/gmp-*/
src/installation/
src/isl-*/
src/libelf-*/
src/libiconv-*/
src/mpc-*/
src/mpfr-*/
src/newlib/
src/python-*/
src/samples/
src/zlib-*/

